.image-container {
  width: 100%;
  margin-bottom: 20px;
}
​
.image-upload-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
​
.image-upload-preview {
  position: relative;
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  // width: 300px;
  height: 400px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    overflow: hidden;
​
    &:hover {
      transform: scale(1.1);
    }
  }
}
​
.image-upload-preview h3 {
  font-size: 48px;
  color: #ccc;
  margin-bottom: 10px;
}
​
.image-upload-preview p {
  font-size: 18px;
  color: #ccc;
}
​
.form-horizontal {
  width: 100%;
  display: flex;
}
​
.input-container {
  width: 100%;
}
​
.group-price {
  display: flex;
  flex-wrap: wrap;
}
​
.group-price .col-lg-4 {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .image-container {
    width: 50%;
    margin-bottom: 0;
  }
​
  .input-container {
    width: 50%;
  }
​
  .group-price .col-lg-4 {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
​
  .form-group .col-sm-9 {
    margin-bottom: 10px;
  }
​
  .form-group .form-control {
    width: 100%;
  }
}
